.App {
  margin: 20px;
  text-align: center;
}

.inputs {
  text-align: center;
  display: flex;
}

.cards {
  /* width: 100%; */
  /* background-color: aqua; */
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  margin-top: 30px;
}

.card {
  align-self: center;
  border: 1px solid black;
  /* background-color: blue; */
  margin: 5px;
}